


<div class="row d-flex justify-content-center align-items-center">
    <div class="fixedbutton">
        <app-toast uID="toastRight">
            <strong>
                Downloading document soon ...
            </strong>
        </app-toast>
    </div>
</div>

<app-card cardTitle="" [options]="false" *ngIf="!load && !show">
    <div class="row">
        <div class="col-sm-12 text-center">
            <p><span class="n-time text-muted"><i class="icon feather icon-arrow m-r-10"></i></span> Ir a inicio</p>
        </div>
    </div>
</app-card>



<app-card cardTitle="" [options]="true" *ngIf="load && show">
    <div class="row">
        <div class="col-sm-12 text-center">
            <br>
            <p><span class="n-time text-muted"><i class="icon feather icon-arrow m-r-10"></i></span> Loading... </p>

            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>

        </div>
    </div>
</app-card>



<app-card cardTitle="" [options]="true" *ngIf="!load && show">

    <div class="row">
        <div class="col-sm-12 text-center">
            <br>
            <p><span class="n-time text-muted"><i class="icon feather icon-arrow m-r-10"></i></span> Inventarios por
                ejecutivo </p>
            <button (click)="print('all')" container="body" ngbTooltip="Todos Los inventarios del usuario" type="button"
                class="btn btn-icon btn btn-link btn-sm"><i class="feather icon-printer"></i></button>
        </div>
    </div>
</app-card>

<div *ngIf="!load && show" id="all">
    <ng-container *ngFor="let item of items">

        <div *ngIf="show" id="table">
            <br>
            <app-card cardTitle="Información inventario" [options]="true">

                <div class="row mb-3">
                    <div class="col-md-6">
                        <br>
                        <span id="noprint"> <b> Imprimir Inventario: </b>

                            <button type="button" (click)="print('table')" container="body" ngbTooltip="all"
                                class="btn btn-icon btn btn-link btn-sm"><i class="feather icon-printer"></i></button>

                            <button type="button" (click)="getexcel(item.id)" container="body"
                                ngbTooltip="just missing" class="btn btn-icon btn-warning btn-sm"><i
                                    class="feather icon-printer"></i></button>
                        </span>
                        <br>
                        <span> <b> Estante: </b> {{item.store.name}}</span>
                        <br>
                        <span> <b>Dirección:</b> {{item.store.address}}</span>


                    </div>
                    <div class="col-md-6">
                        <br>
                        <span><b>Creado:</b> {{item.created_at}}</span>
                        <br>
                        <span><b>Actualizado:</b> {{item.updated_at |date:'medium':'-5'}}</span>



                    </div>
                </div>
                <!-- </app-card> -->
                <!-- <app-card cardTitle=""> -->
                <div class="table-responsive">
                    <table class="table table-xs">

                        <thead>
                            <tr>
                                <th>Elemento</th>
                                <th>Referencia</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of item.elements">
                                <td class="text"><label class="text">{{item.name}}</label></td>
                                <td class="text"><label class="text">{{item.sku}}</label></td>
                                <td class="text"><label class="badge"
                                        [ngClass]="item.quantities.quantity == 0  ? 'badge-light-danger' : 'badge-light-primary'">
                                        {{ item.quantities.quantity ?
                                        '✓' : 'x'}}</label>
                                </td>
                                <button type="button" class="btn btn-icon btn btn-link btn-sm"
                                    (click)="printQr(item.id)" container="body" ngbTooltip="Qr de la referencia"> <i
                                        class="feather icon-file"></i></button>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </app-card>
        </div>

    </ng-container>
</div>