<div class="auth-wrapper">
  <div class="blur-bg-images"></div>
  <!-- [ change-password ] start -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="auth-content">
      <div class="card">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="card-body text-center">
              <img width="100em"
                src="https://images.squarespace-cdn.com/content/v1/5c8eb55890f90424c78f3f45/1557757161050-3COGAVPHE7CJW7WEBP0O/logo2.png?format=1500w"
                alt="" class="img-fluid mb-4">
              <h4 class="mb-4 f-w-400">Change your password</h4>
              <div class="form-group mb-2">

                <input type="password" class="form-control" placeholder="Current Password" formControlName="currentPassword">

                <div class="form-group mb-2">
                  <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword">
                  <!-- <div *ngIf="
                  f.newPassword.invalid &&
                  (f.newPassword.dirty || f.newPassword.touched)
                " class="form-text text-danger">
                  </div> -->
                </div>
                <div class="form-group mb-4">
                  <input type="password" class="form-control" placeholder="Re-Type New Password" formControlName="confirmPassword">
                  <!-- <div *ngIf="
                      f.confirmPassword.invalid &&
                      (f.confirmPassword.dirty || f.confirmPassword.touched)
                    " class="form-text text-danger">
                  </div> -->
                  <br>
                  <button class="btn btn-block btn-primary mb-4" [disabled]="form.invalid || submitted">Change password</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- [ change-password ] end -->
</div>