<!-- <app-card cardTitle="" [options]="false" *ngIf="!showsearch && loading">
    <div class="row">
        <div class="col-sm-12 text-center">
            <br>
            <p><span class="n-time text-muted"><i class="icon feather icon-arrow m-r-10"></i></span> Loading... </p>

            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>

        </div>
    </div>
</app-card> -->


<div class="row d-flex justify-content-center align-items-center">
    <div class="fixedbutton">
        <app-toast uID="toastRight2">
            <strong>
                Item ok ...
            </strong>
        </app-toast>
    </div>
</div>


<app-card cardTitle="" [options]="false" *ngIf="!showsearch && !showInv">
    <div class="row">
        <div class="col-sm-12 text-center">
            <br>
            <p><span class="n-time text-muted"><i class="icon feather icon-arrow m-r-10"></i></span> Loading... </p>

            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>

        </div>
    </div>
</app-card>

<div class="col-sm-12" *ngIf="showsearch">
    <app-card cardTitle="" [options]="false">

        <div class="row d-flex justify-content-center text-center">
            <!-- <div class="col-md-4">
                <div class="form-group">
                    <select class="form-control" #selectList (change)="selectCamera(selectList.value)">
                        <option *ngFor="let camera of cameras" value={{camera.label}}>
                            <strong class="font-weight-bold"> Scan Store </strong> {{ camera.label }}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <zxing-scanner style="width: 100%;" [enable]="scannerEnabled" [device]="myDevice"
                        (camerasFound)="camerasFoundHandler($event)" (scanSuccess)="scanSuccessHandlerStore($event)"
                        [timeBetweenScans]="3000" [delayBetweenScanSuccess]="3000">

                    </zxing-scanner>
                </div>
            </div> -->

            <!-- <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <ng-select [(ngModel)]="storeName" [disabled]="true">
                            <ng-option *ngFor="let item of items" [value]="item.id">{{item.name}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
                <span class="text text-primary">{{msg2}}</span>
            </div> -->

            <!-- <div class="row"> -->
            <div class="col-md-6">
                <div class="form-group">
                    <ng-select [(ngModel)]="selectedItem" [disabled]="disableStore">
                        <ng-option *ngFor="let item of items" [value]="item.id">{{item.name}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" (click)="getLast()">{{btnText}}</button>
                </div>
            </div>

            <!-- </div> -->

        </div>
    </app-card>
    <span class="text text-primary">{{msg2}}</span>
</div>



<div class="row" *ngIf="showInv">
    <!-- <div class="col-sm-12"> -->
    <!-- <app-card cardTitle="" [options]="false"> -->
    <!-- <div class="row"> -->
    <!-- <div class="col-sm-12 text-center"> -->
    <!-- <br> -->
    <!-- <p><span class="n-time text-muted">Store : </span> {{selectedItem | json }} </p> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </app-card> -->
    <!-- </div> -->

    <div class="col-sm-12">
        <app-card cardTitle="Inventory management - Store : {{store.name}} : {{store.id}} " [options]="false">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="form-control" #selectList (change)="selectCamera(selectList.value)">
                            <option *ngFor="let camera of cameras" value={{camera.label}}>
                                {{ camera.label }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <zxing-scanner style="width: 100%;" [device]="myDevice"
                            (camerasFound)="camerasFoundHandler($event)" (scanSuccess)="scanSuccessHandler($event)">
                        </zxing-scanner>
                        <!-- <p *ngFor="let result of results">{{result}}</p> -->
                    </div>

                    <div #parent> </div>

                </div>
                <div class="col-md-6 justify-content-center text-center">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">


                                <button type="button" class="btn btn-primary btn-sm" [disabled]="this.submitted"
                        (click)="sendInventory()">{{btnTextInv}}</button>

                                <app-card cardTitle="{{titleTable}}">
                                    <div class="table-responsive">
                                        <table class="table table-hover mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Element</th>
                                                    <th>Reference - Sku</th>
                                                    <th>Img</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of inventario">
                                                    <td class="text"><label class="text">{{item.name}}</label></td>
                                                    <td class="text"><label class="text">{{item.reference}}</label></td>
                                                    <td class="text"> <img width="50px" src="{{item.img}}" alt="img">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="text text-primary">{{msg}}</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="text" *ngIf="reread"><label
                                                            class="text-danger" *ngIf="msg == ''">
                                                            Already read
                                                            ...</label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </app-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" *ngIf="show">

        <app-card cardTitle="Last inventory information" [options]="false" color="red">

            <div class="row mb-3" *ngIf="elements.length > 0 ">
                <div class="col-md-6">

                    <br>
                    <b> Options: </b> <button title="Edit" type="button" class="btn mr-2 btn-primary btn-sm"
                        (click)="editInventory()"><i class="feather icon-edit"></i>
                    </button>
                    <button title="New" type="button" class="btn btn-success btn-sm" (click)="newInventory()"><i
                            class="feather icon-book"></i>
                    </button>
                    <br>
                    <span> <b> Store: </b> {{store.name}}</span>
                    <br>
                    <span> <b>Address:</b> {{store.address}}</span>
                </div>
                <div class="col-md-6">
                    <br>
                    <span><b>Create at:</b> {{created_at}}</span>
                    <br>
                    <span><b>Update at:</b> {{updated_at |date:'medium':'-5'}}</span>

                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Element</th>
                            <th>Reference - sku</th>
                            <th>Existence</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of elements">
                            <td class="text"><label class="text">{{item.name}}</label></td>
                            <td class="text"><label class="text">{{item.sku}}</label></td>
                            <td class="text">

                                <label *ngIf="item.quantities.quantity > 0 " class="badge badge-light-primary"><i
                                        class="feather icon-check"></i> </label>
                                <label *ngIf="item.quantities.quantity == 0 " class="badge badge-light-danger"><i
                                        class="feather icon-x"></i> </label>

                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </app-card>
    </div>
</div>
