<app-card cardTitle="" [options]="false" *ngIf="!show">
  <div class="row">
    <div class="col-sm-12 text-center">
      <br>
      <p><span class="n-time text-muted"><i class="icon feather icon-arrow m-r-10"></i></span> Loading... </p>

      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>

    </div>
  </div>
</app-card>

<div class="row" *ngIf="show">
  <!-- site Analytics card start -->
  <div class="col-xl-7 col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <app-card [hidHeader]="true" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true"
          footerClass="bg-primary text-white">
          <div class="p-20 pb-0">
            <h2 class="m-0">{{stores}} <span>Stores</span> </h2>
            <span class="text-c-blue"> Stores with the most inventory turnover </span>
            <p class="mb-3 mt-3 p-2" *ngFor="let item of sotresRotatives"> {{item.name}}</p>
          </div>
          <!-- <app-apex-chart chartID="support-chart-1" [chartConfig]="this.supportChartData1"></app-apex-chart> -->
          <div class="app-card-footer">
            <div class="row align-items-center">
              <div class="col-9">
                <!-- <p class="text-white m-b-0">% change</p> -->
              </div>
              <div class="col-3 text-right">
                <i class="feather icon-trending-up text-white f-16"></i>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-sm-6">
        <app-card [hidHeader]="true" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true"
          footerClass="bg-success text-white">
          <div class="p-20 pb-0">
            <h2 class="m-0">{{elements}} <span>Items</span> </h2>
            <span class="text-c-green">Most rotated elements.</span>
            <p class="mb-3 mt-3" *ngFor="let item of elementsRotatives"> {{item.name}} </p>
          </div>
          <!-- <app-apex-chart chartID="support-chart-2" [chartConfig]="this.supportChartData2"></app-apex-chart> -->
          <div class="app-card-footer">
            <div class="row align-items-center">
              <div class="col-9">
                <!-- <p class="text-white m-b-0">% change</p> -->
              </div>
              <div class="col-3 text-right">
                <i class="feather icon-trending-up text-white f-16"></i>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>
  <div class="col-xl-5 col-sm-12">
    <div class="row">
      <div class="col-md-6">
        <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-yellow">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-yellow">{{storesCount}}</h4>
              <h6 class="text-muted m-b-0">Total number of Stores Activated.</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-bar-chart-2 f-28"></i>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row align-items-center">
              <div class="col-9">
                <!-- <p class="text-white m-b-0">% change</p> -->
              </div>
              <div class="col-3 text-right">
                <i class="feather icon-trending-up text-white f-16"></i>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-md-6">
        <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-green">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-green">{{inventories }}</h4>
              <h6 class="text-muted m-b-0">Total number of inventories executed</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-file-text f-28"></i>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row align-items-center">
              <div class="col-9">
                <!-- <p class="text-white m-b-0">% change</p> -->
              </div>
              <div class="col-3 text-right">
                <i class="feather icon-trending-up text-white f-16"></i>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <!-- <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-red"> -->
        <!-- <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-red">145</h4>
              <h6 class="text-muted m-b-0">Task</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-calendar f-28"></i>
            </div>
          </div> -->
        <!-- <div class="app-card-footer">
            <div class="row align-items-center">
              <div class="col-9"> -->
        <!-- <p class="text-white m-b-0">% change</p> -->
        <!-- </div>
              <div class="col-3 text-right">
                <i class="feather icon-trending-down text-white f-16"></i>
              </div>
            </div>
          </div> -->
        <!-- </app-card> -->
      </div>
      <div class="col-md-6">
        <!-- <app-card [hidHeader]="true" [isCardFooter]="true" footerClass="bg-c-blue"> -->
        <!-- <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-blue">500</h4>
              <h6 class="text-muted m-b-0">Downloads</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-thumbs-down f-28"></i>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row align-items-center">
              <div class="col-9"> -->
        <!-- <p class="text-white m-b-0">% change</p> -->
        <!-- </div>
              <div class="col-3 text-right">
                <i class="feather icon-trending-down text-white f-16"></i>
              </div>
            </div>
          </div> -->
        <!-- </app-card> -->
      </div>
    </div>
  </div>
  <!-- site Analytics card end -->

  <!-- seo start -->
  <!-- <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true">
      <div class="row align-items-center">
        <div class="col-6">
          <h3>$16,756</h3>
          <h6 class="text-muted m-b-0">Visits<i class="fa fa-caret-down text-c-red m-l-10"></i></h6>
        </div>
        <div class="col-6">
          <app-apex-chart chartID="seo-chart-1" [chartConfig]="this.seoChartData1"></app-apex-chart>
        </div>
      </div>
    </app-card>
  </div> -->
  <!-- <div class="col-xl-4 col-md-6">
    <app-card [hidHeader]="true">
      <div class="row align-items-center">
        <div class="col-6">
          <h3>49.54%</h3>
          <h6 class="text-muted m-b-0">Bounce Rate<i class="fa fa-caret-up text-c-green m-l-10"></i></h6>
        </div>
        <div class="col-6">
          <app-apex-chart chartID="seo-chart-2" [chartConfig]="this.seoChartData2"></app-apex-chart>
        </div>
      </div>
    </app-card>
  </div> -->
  <!-- <div class="col-xl-4 col-md-6">
    <app-card [hidHeader]="true">
      <div class="row align-items-center">
        <div class="col-6">
          <h3>1,62,564</h3>
          <h6 class="text-muted m-b-0">Products<i class="fa fa-caret-down text-c-red m-l-10"></i></h6>
        </div>
        <div class="col-6">
          <app-apex-chart chartID="seo-chart-3" [chartConfig]="this.seoChartData3"></app-apex-chart>
        </div>
      </div>
    </app-card>
  </div> -->
  <!-- seo end -->
</div>