<app-card cardTitle="" [options]="false" *ngIf="!show">
    <div class="row">
        <div class="col-sm-12 text-center">
            <br>
            <p><span class="n-time text-muted"><i class="icon feather icon-arrow m-r-10"></i></span> Loading... </p>

            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>

        </div>
    </div>
</app-card>


<div class="row" *ngIf="show">
    <div class="col-sm-12">
        <app-card cardTitle="Update of element" [options]="false">
            <form [formGroup]="modelForm" (ngSubmit)="onSubmit()">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="" formControlName="name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Reference - sku</label>
                            <input type="text" class="form-control" placeholder="" formControlName="sku">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Material</label>
                            <input type="text" class="form-control" placeholder="" formControlName="material">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Sheet size</label>
                            <input type="text" class="form-control" placeholder="" formControlName="size">
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Packing</label>
                            <input type="text" class="form-control" placeholder="" formControlName="packing">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Picture</label>
                        <div class="input-group text-center">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-camera"></i></span>
                            </div>
                            <div class="custom-file d-flex justify-content-center">
                                <label style="cursor: pointer;" (click)="compressFile()" class="custom-file-label"
                                    for="file0">
                                    <i class="fa fa-upload"></i>
                                </label>
                            </div>
                        </div>
                        <br>
                        <img [src]="imgResultAfterCompression" width="70px" class="preview">
                    </div>


                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary"
                            [disabled]="(modelForm.invalid) || submitted ">Save</button>
                    </div>
                </div>
            </form>
        </app-card>
    </div>
</div>