<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Register of element" [options]="false">
            <form [formGroup]="ModelForm" (ngSubmit)="onSubmit()">
                <div class="row">

                    <!-- <button (click)="compressFile()">Upload and compress Image</button>
                    <img [src]="imgResultBeforeCompression" *ngIf="imgResultBeforeCompression" />
                    <img [src]="imgResultAfterCompression" *ngIf="imgResultAfterCompression"  /> -->

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="" formControlName="name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Reference - sku</label>
                            <input type="text" class="form-control" placeholder="" formControlName="sku">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Material</label>
                            <input type="text" class="form-control" placeholder="" formControlName="material">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Sheet size</label>
                            <input type="text" class="form-control" placeholder="" formControlName="size">
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Packing</label>
                            <input type="text" class="form-control" placeholder="" formControlName="packing">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Picture</label>
                        <div class="input-group text-center">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-camera"></i></span>
                            </div>
                            <div class="custom-file d-flex justify-content-center">
                                <!-- <input style="cursor: pointer;" type="file" class="custom-file-input" id="file0"> -->
                                <label style="cursor: pointer;" (click)="compressFile()" class="custom-file-label"
                                    for="file0">
                                    <i class="fa fa-upload"></i>
                                </label>
                            </div>
                        </div>
                        <br>
                        <img [src]="imgResultAfterCompression" class="preview">
                    </div>


                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" [disabled]="(ModelForm.invalid) || submitted ">Save</button>
                    </div>
                </div>
            </form>
        </app-card>
    </div>
</div>




<ng-template #notData>
    <!-- <app-not-data [loading]="loading"></app-not-data> -->
</ng-template>