<app-card cardTitle="" [options]="false" *ngIf="!load && !show">
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><span class="n-time text-muted"><i class="icon feather icon-arrow m-r-10"></i></span> go to Home</p>
    </div>
  </div>
</app-card>

<div class="row d-flex justify-content-center align-items-center">
  <div class="fixedbutton">
    <app-toast uID="toastRight2">
      <strong>
        please wait ...
      </strong>
    </app-toast>
  </div>
</div>

<app-card cardTitle="" [options]="false" *ngIf="load && show">
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><span class="n-time text-muted"><i class="icon feather icon-arrow m-r-10"></i></span> Loading... </p>
      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</app-card>

<app-card cardTitle="" [options]="false" *ngIf="!load && show">
  <div class="row">
    <div class="col-sm-12 text-center">
      <p><span class="n-time text-muted"><i class="icon feather icon-arrow m-r-10"></i></span>
        Inventories registered</p>
      <br>

    </div>

    <div class="col-sm-3">
      <label for="" class="label-from"> Code </label>
      <div class="form-group">
        <input class="form-control" type="text" [(ngModel)]="code">
      </div>
    </div>

    <div class="col-sm-3">
      <label for="" class="label-from"> Checked </label>
      <div class="form-group">
        <select [(ngModel)]="checked" class="form-control">
          <option></option>
          <option value="1">Active</option>
          <option value="0">Inactive</option>
        </select>
      </div>
    </div>

    <div class="col-sm-3  mt-1">
      <label for="" class="label-from"> Stores </label>
      <div class="form-group">
        <ng-select class="custom" [multiple]="true" [(ngModel)]="selectedStores">
          <ng-option *ngFor="let item of stores" [value]="item.id">{{item.name}}
          </ng-option>
        </ng-select>
      </div>
    </div>

    <div class="col-sm-3  mt-1">
      <label for="" class="label-from"> Sellers </label>
      <div class="form-group">
        <ng-select class="custom" [multiple]="true" [(ngModel)]="selectedVendors">
          <ng-option *ngFor="let item of users" [value]="item.id">{{item.name}}
          </ng-option>
        </ng-select>
      </div>
    </div>



    <div class="col-sm-6">
      <button (click)="filterInventories()" type="button" class="btn btn-info">
        Filter
      </button>
    </div>

  </div>
</app-card>

<div *ngIf="!load && show" id="all">
  <ng-container *ngFor="let item of items ; index as i ">

    <div *ngIf="show" id="table">

      <app-card cardTitle="Inventory information" [options]="false">

        <br>

        <div class="row mb-3">

          <div class="col-md-6">

            <span> <b> Code: </b> {{item.id}}</span>
            <br>
            <span> <b> Store: </b> {{item.store.name}}</span>
            <br>
            <span> <b>Address:</b> {{item.store.address}}</span>
            <br>
            <span id="noprint"> <b> Print Inventory: </b>
              <button ngbTooltip="Print report on PDF" (click)="print(item)" type="button"
                class="btn btn-icon btn-info btn-xs mx-auto"><i class="fa fa-file-pdf"></i></button>

              <!-- <button ngbTooltip="Print report on PDF" (click)="print('table', item.user.name)" type="button"
                                class="btn btn-icon btn-info btn-xs mx-auto"><i class="fa fa-file-pdf"></i></button> -->


              <button (click)="getexcel(item.id)" ngbTooltip="only missings Excel" type="button"
                class="btn btn-icon btn-warning btn-xs ml-2"><i class="fas fa-file-excel"></i></button>

            </span>

          </div>

          <div class="col-md-6">


            <span><b>Checked : </b>
              <button (click)="checkedInv(item)" placement="bottom" ngbTooltip="Change status" type="button"
                class="btn btn-sm mx-auto" [ngClass]="item.check == 0 ? 'btn-danger' : 'btn-success'">
                <i [ngClass]="item.check == 0 ? 'feather icon-x' : 'fa fa-check'"></i>
              </button></span>
            <br>
            <span><b>Sellers:</b> {{item.user.name }}</span>
            <br>
            <span><b>Created at:</b> {{item.created_at |date:'medium':'-5'}}</span>
            <br>
            <span><b>Updated at:</b> {{item.updated_at |date:'medium':'-5'}}</span>
            <br>
            <b>Show detail : </b><button ngbTooltip="Show detail" (click)="showDetail(item)" type="button"
              class="btn mr-2 btn-info btn-sm">
              <i class="fa fa-eye"></i>
            </button>
            <button ngbTooltip="Hide detail" (click)="hiddenDetail()" type="button" class="btn btn-secondary btn-sm">
              <i class="feather icon-eye-off"></i>
            </button>
            <br>

            <b>Show cols</b>
            <br>

            <label (click)="showCols.name = showCols.name ? false : true" style="cursor: pointer;"
              class="mr-1 badge badge-light-primary">Name</label>
            <label (click)="showCols.reference = showCols.reference ? false : true" style="cursor: pointer;"
              class="mx-1 badge badge-light-primary">Reference</label>
            <label (click)="showCols.size = showCols.size ? false : true" style="cursor: pointer;"
              class="mx-1 badge badge-light-primary">Size</label>
            <label (click)="showCols.available = showCols.available ? false : true" style="cursor: pointer;"
              class="mx-1 badge badge-light-primary">Available</label>
            <label (click)="showCols.existence = showCols.existence ? false : true" style="cursor: pointer;"
              class="mx-1 badge badge-light-primary">Existence</label>
            <label (click)="showCols.img = showCols.img ? false : true" style="cursor: pointer;"
              class="mx-1 badge badge-light-primary">Img</label>
            <label (click)="showCols.options = showCols.options ? false : true" style="cursor: pointer;"
              class="mx-1 badge badge-light-primary">Options</label>

            <br>

          </div>
        </div>
        <!-- </app-card> -->

        <!-- <app-card cardTitle="Inventario relaizado por : {{item.user.name}}" [options]="false"> -->
        <div class="table-responsive " *ngIf="item.show">
          <!-- <table class="table text-center "> -->
          <table class="table text-center table-xs">
            <thead>
              <tr>
                <th *ngIf="showCols.name">Name</th>
                <th *ngIf="showCols.reference">Reference - sku</th>
                <th *ngIf="showCols.size">Size</th>
                <th *ngIf="showCols.available">Available</th>
                <th *ngIf="showCols.existence">Existence</th>
                <th *ngIf="showCols.img">Img</th>
                <th *ngIf="showCols.options && (_userc.user.user_type != 'Seller') ">Options</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inv of item.elements">
                <td *ngIf="showCols.name">{{inv.name}}</td>
                <td *ngIf="showCols.reference">{{inv.sku}}</td>
                <td *ngIf="showCols.size">{{inv.sheet_size}}</td>

                <td *ngIf="showCols.available" [ngClass]="{
                  'badge-light-primary' : inv.status == 'activo',
                  'badge-light-warning' : inv.status == 'pendiente',
                  'badge-light-danger' : inv.status == 'inactivo'}">

                  <span *ngIf="inv.status == 'activo'">Present</span>
                  <span *ngIf="inv.status == 'pendiente'">Pending</span>
                  <span *ngIf="inv.status == 'inactivo'">Sold out</span>

                </td>

                <td *ngIf="showCols.existence" class="text"><label class="badge"
                    [ngClass]="inv.quantities.quantity == 0  ? 'badge-light-danger' : 'badge-light-primary'">
                    {{ inv.quantities.quantity ?
                    'Present' : 'Restock'}}</label>
                </td>

                <td *ngIf="showCols.img" class="text">
                  <img *ngIf="item.show" class="img-fluid img-thumbnail rounded mx-auto d-block"
                    style=" width: 100px; height: 100%;" src="{{urlMedia}}imgproducts/{{inv.photo}}">
                </td>

                <td *ngIf="showCols.options && (_userc.user.user_type != 'Seller') ">
                  <button type="button" class="btn btn-icon btn-default btn-sm" (click)="printQr(inv.id)"
                    ngbTooltip="Qr de la referencia"> <i class="feather icon-file"></i></button>

                  <button type="button" placement="auto" ngbTooltip="Change Status"
                    class="btn btn-icon btn-success btn-xs" (click)="status(inv)"> <i
                      class="feather icon-check"></i></button>

                  <button type="button" placement="auto" ngbTooltip="Checked" class="btn btn-icon  btn-xs"
                    [ngClass]="inv.quantities.checked == 0  ? 'btn-danger' : 'btn-secondary' "
                    (click)="checkedItem(item, inv)">
                    <i
                      [ngClass]="inv.quantities.checked == 0  ? 'feather icon-alert-circle' : 'feather icon-check-circle'"></i>
                  </button>
                </td>

              </tr>
            </tbody>
          </table>
        </div>

      </app-card>
    </div>

  </ng-container>
</div>
