<app-card cardTitle="" [options]="false" *ngIf="!showelements">
  <div class="row">
    <div class="col-sm-12 text-center">
      <br>
      <p><span class="n-time text-muted"><i class="icon feather icon-arrow m-r-10"></i></span> Loading... </p>

      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>

    </div>
  </div>
</app-card>


<!-- <div class="row d-flex justify-content-center align-items-center">
  <div class="fixedbutton">
    <app-toast uID="toastRight">
      <strong>
        Downloading document soon ...
      </strong>
    </app-toast>
  </div>
</div> -->

<div class="row d-flex justify-content-center align-items-center">
  <div class="fixedbutton">
    <app-toast uID="toastRight2">
      <strong>
        please wait ...
      </strong>
    </app-toast>
  </div>
</div>


<div class="row" *ngIf="showelements">
  <div class="col-sm-12">
    <app-card cardTitle="Elements" [options]="false">
      <!-- 
      <div class="col-sm-12">

        <input placeholder="Search items..." class="form-control" [(ngModel)]="filter" type="text"
          (ngModelChange)="this.filterUpdate.next($event)">

      </div> -->

      <br>

      <div class="table-responsive">
        <table class="table text-center ">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Reference - sku</th>
              <th>Size</th>
              <th>Packing</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <th></th>
              <th><input placeholder="Name" class="form-control" [(ngModel)]="filters.name" type="text"
                  (ngModelChange)="this.filterUpdate.next($event)"></th>
              <th><input placeholder="Sku" class="form-control" [(ngModel)]="filters.sku" type="text"
                  (ngModelChange)="this.filterUpdate.next($event)"></th>
              <th><input placeholder="Size" class="form-control" [(ngModel)]="filters.sheet_size" type="text"
                  (ngModelChange)="this.filterUpdate.next($event)"></th>
              <th></th>
              <th>
                <select (ngModelChange)="this.filterUpdate.next($event)" [(ngModel)]="filters.status"
                  class="form-control">
                  <option></option>
                  <option value="1">Active</option>
                  <option value="0">Inactive</option>
                </select>
              </th>
              <th><button type="button" class="btn btn-icon btn-info btn-xs" placement="auto" ngbTooltip="Clean filter"
                  (click)="clean()"> <i class="fa fa-trash"></i></button>
              </th>
            </tr>

            <tr *ngFor="let item of items; index as i;">
              <td>{{i+1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.sku}}</td>
              <td>{{item.sheet_size}}</td>
              <td>{{item.packing}}</td>
              <td style="height: 100%;
                  text-align: center;
                  vertical-align: middle;"
                [ngClass]="item.status == 'activo' ? 'badge-light-primary' : 'badge-light-danger'">
                <span *ngIf="item.status == 'activo'">on stock</span>
                <span *ngIf="item.status != 'activo'">Sold out</span>
              </td>

              <td style="height: 100%;
              text-align: center;
              vertical-align: middle;">

                <button type="button" class="btn btn-icon btn-warning btn-xs" placement="auto" ngbTooltip="Edit"
                  (click)="goEdit(item.id)"> <i class="fa fa-pen"></i></button>

                <button type="button" placement="auto" ngbTooltip="Change Status" class="btn btn-icon  btn-xs"
                  (click)="status(item)" [ngClass]="item.status == 'activo' ? 'btn-danger' : 'btn-success'"> <i
                    [ngClass]="item.status == 'activo' ? 'feather icon-x' : 'feather icon-check'"></i></button>

                <button type="button" class="btn btn-icon btn-default btn-xs" placement="auto" ngbTooltip="Print Qr"
                  (click)="printQr(item.id)"> <i class="feather icon-file"></i></button>

                <button type="button" ngbTooltip="Show Qr" class="btn btn-icon btn-info btn-xs" (click)="showQr(item)"> <i
                    class="feather icon-eye"></i></button>

                <button ngbTooltip="Hide Qr" type="button" class="btn btn-icon btn-secondary btn-xs" (click)="hideQr(item)"> <i
                    class="feather icon-eye-off"></i></button>

                <img *ngIf="item.show"  class="img-fluid img-thumbnail rounded mx-auto d-block mt-2"
                  style=" width: 150px; height: 100%; border: none !important;" src="{{productimg}}">

                <img *ngIf="item.show" class="img-fluid img-thumbnail rounded mx-auto d-block"
                  style=" width: 150px; height: 100%;" src="{{img}}">

              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <ngb-pagination class="d-flex justify-content-center" [rotate]="true" (pageChange)="recall($event)"
        [collectionSize]="total" [(page)]="page" [pageSize]="20" [maxSize]="5" [boundaryLinks]="true">
      </ngb-pagination>

    </app-card>
  </div>
</div>